.dark{
    background-color: #222;
    color: #e6e6e6;
}
body{
    background-color: #03045E;
    color: #ADE8F4;
}
.dark {
    background-color: #ADE8F4;;
    color: #03045E;
  }
  
  button {
    background-color: #45a8dd !important;
    color: #10115e !important;
    font-weight: 500;
    border: #90E0EF !important;
    border-radius: 5%;
    padding: 7px 7px;
}
.buyNow {
    background-color: #1a4e5cc4;
    color: #45a8dd;
    border: 1px solid;
    padding: 5px;
    border-radius: 6%;
    text-decoration: none;
}
.lead {
    background-color: #074b95;
    color: #77d2ff;
    font-weight: 500;
}
.lead1 {
    background-color: #074b9557;
    color: #77d2ff;
    font-weight: 300;
}
.leadrating {
    color: #77d2ff;
}
input {
    background-color: #c0d8e9;
}
.theme-dark {
    --dark-text: #292929;
    --light-text: #F9F8F8;  
    --dark-background: #2F4550;
    --light-background: #586F7C;
    --accent: #B8DBD9;
    --button-border: #B8DBD9;
  }
  .theme-light {
    --dark-text: #5E4B56;
    --light-text: #5E4B56;
    --dark-background: #DBE7E4;
    --light-background: #EDDCD2;
    --accent: #DBE7E4;
    --button-border: #5E4B56;
  }
.card  {
    background-color:#023E8A
}

.navbar  {
    background-color: #023E8A;
}
.headerImg  {
    color: #90E0EF !important;
}
.buton {
    border: 1px solid #90E0EF ;
    padding: 8px;
    border-radius: 10%;
}
